Repository CommandLineDesign/524: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Install with: pnpm lefthook install

pre-commit:
  parallel: true
  commands:
    biome-check:
      run: pnpm exec biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      glob: "*.{ts,tsx,js,jsx,json,md}"
      exclude: |
        (?x)^(
          .*\.lock$|
          .*\.log$|
          .*node_modules.*|
          .*dist.*|
          .*build.*|
          .*\.next.*|
          .*\.expo.*|
          .*\.turbo.*|
          .*migrations.*|
          .*meta.*
        )
    typecheck:
      run: pnpm typecheck
      glob: "*.{ts,tsx}"
      exclude: |
        (?x)^(
          .*node_modules.*|
          .*dist.*|
          .*build.*|
          .*\.next.*|
          .*\.expo.*|
          .*\.turbo.*|
          .*migrations.*|
          .*meta.*
        )

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint
    format-check:
      run: pnpm format:check
    typecheck:
      run: pnpm typecheck

added pre-commit hooks
  package.json
  pnpm-lock.yaml
Due: biome-check

fixed building errors with admin web
  lefthook.yml
  packages/shared/src/dev.js
  packages/shared/src/i18n.js
Due: biome-check

fix typecheck
  packages/api/package.json
  packages/api/tsconfig.json
  packages/api/tsconfig.typecheck.json
  pnpm-lock.yaml
Due: biome-check

fix typecheck
  tsconfig.base.json
Due: biome-check

fix typecheck
  packages/api/src/app.ts
  packages/api/src/routes/health.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/v1/artist.ts
  packages/api/src/routes/v1/auth.ts
  packages/api/src/routes/v1/booking.ts
  packages/api/src/routes/v1/index.ts
Due: biome-check, typecheck

fix typecheck
  packages/api/package.json
  packages/api/tsconfig.json
Due: biome-check

fix typecheck
  packages/api/tsconfig.typecheck.json
Due: biome-check

add admin pending artists dashboard endpoints and UI
  packages/api/src/controllers/adminArtistController.ts
  packages/api/src/repositories/artistRepository.ts
  packages/api/src/routes/v1/admin.ts
  packages/api/src/routes/v1/index.ts
  packages/api/src/services/artistService.ts
  packages/shared/src/admin.ts
  packages/shared/src/index.ts
  packages/web/src/components/AdminApp.tsx
  packages/web/src/components/AdminLoginPage.tsx
  packages/web/src/components/pendingArtists/PendingArtistShow.tsx
  packages/web/src/components/pendingArtists/PendingArtistsList.tsx
  packages/web/src/lib/adminApi.ts
  packages/web/src/lib/adminAuthProvider.ts
  packages/web/src/lib/adminDataProvider.ts
  product/stories.md
  product/stories/view-pending-artists.md
Due: biome-check, typecheck

story execution updated
  ai/workflows/epic-based-agent-story-execution.md
  packages/web/tsconfig.tsbuildinfo
Due: biome-check

removed shared admin component
  packages/shared/src/index.ts
  packages/web/tsconfig.tsbuildinfo
Due: biome-check, typecheck

fixed build errors
  packages/api/src/cache/redisClient.ts
  packages/api/tsconfig.json
  packages/web/tsconfig.tsbuildinfo
Due: biome-check, typecheck

fixed build errors
  packages/api/tsconfig.typecheck.json
  packages/shared/src/index.ts
Due: biome-check, typecheck

fixed export issue for admin shared
  packages/shared/src/index.ts
Due: biome-check, typecheck

fixed tsconfig issue
  packages/mobile/tsconfig.json
Due: biome-check

typecheck fix
  packages/api/tsconfig.typecheck.json
Due: biome-check

added artist list improvements
  README.md
  docs/auth/MOCK_AUTH_SETUP_COMPLETE.md
  docs/auth/MOCK_AUTH_TEST_RESULTS.md
  docs/setup/ENV_CHECKLIST.md
  docs/setup/ENV_SETUP.md
  docs/setup/VERCEL_DEPLOYMENT_GUIDE.md
  packages/api/MOCK_AUTH_GUIDE.md
  packages/api/src/config/env.ts
  packages/api/src/repositories/artistRepository.ts
  packages/mobile/package.json
  packages/mobile/src/api/client.ts
  packages/mobile/src/store/authStore.ts
  packages/web/next-env.d.ts
  packages/web/package.json
  packages/web/src/components/AdminLoginPage.tsx
  packages/web/src/components/pendingArtists/PendingArtistsList.tsx
  packages/web/src/lib/adminApi.ts
  packages/web/src/lib/adminAuthProvider.ts
  scripts/dev-api.sh
Due: biome-check, typecheck

updated admin app styles
  packages/web/src/app/globals.css
  packages/web/src/app/page.client.tsx
  packages/web/src/app/page.tsx
Due: biome-check, typecheck

format
  packages/web/src/app/globals.css
Due: none

lint
  packages/web/src/app/globals.css
Due: none

chore: mark populate artist profile story in progress
  product/stories.md
  product/stories/populate-artist-profile.md
Due: biome-check

feat: add admin edit flow for artist profiles
  packages/api/src/controllers/adminArtistController.ts
  packages/api/src/repositories/artistRepository.ts
  packages/api/src/routes/v1/admin.ts
  packages/shared/src/admin.ts
  packages/shared/src/artists.ts
  packages/web/next-env.d.ts
  packages/web/src/components/AdminApp.tsx
  packages/web/src/components/pendingArtists/PendingArtistEdit.tsx
  packages/web/src/components/pendingArtists/PendingArtistsList.tsx
  packages/web/src/lib/adminDataProvider.ts
Due: biome-check, typecheck

chore: mark populate artist profile completed
  product/stories.md
  product/stories/populate-artist-profile.md
Due: biome-check

add admin users management with audit logging
  packages/api/src/controllers/adminUserController.ts
  packages/api/src/repositories/auditLogRepository.ts
  packages/api/src/repositories/userRepository.ts
  packages/api/src/routes/v1/admin.ts
  packages/api/src/services/userService.ts
  packages/database/migrations/0002_add_audit_logs.sql
  packages/database/migrations/meta/_journal.json
  packages/database/src/index.ts
  packages/database/src/schema/auditLogs.ts
  packages/web/src/components/AdminApp.tsx
  packages/web/src/components/users/UserEdit.tsx
  packages/web/src/components/users/UserShow.tsx
  packages/web/src/components/users/UsersList.tsx
  packages/web/src/lib/adminDataProvider.ts
Due: biome-check, typecheck

fix user repository sort typing
  packages/api/src/repositories/userRepository.ts
Due: biome-check, typecheck

updated user roles
  docs/ROLES_AND_FLOWS.md
  docs/auth/ROLES_AND_FLOWS.md
  packages/api/package.json
  packages/api/src/controllers/adminUserController.ts
  packages/api/src/middleware/auth.ts
  packages/api/src/repositories/artistRepository.ts
  packages/api/src/repositories/userRepository.ts
  packages/api/src/routes/v1/auth.ts
  packages/api/src/services/authService.ts
  packages/api/src/utils/roleHelpers.test.ts
  packages/api/src/utils/roleHelpers.ts
  packages/database/migrations/0003_user_roles_and_artist_status.sql
  packages/database/migrations/meta/_journal.json
  packages/database/src/index.ts
  packages/database/src/schema/artistProfiles.ts
  packages/database/src/schema/userRoles.ts
  packages/shared/src/artists.d.ts
  packages/shared/src/artists.ts
  packages/web/next-env.d.ts
  packages/web/src/components/users/UserEdit.tsx
  packages/web/src/components/users/UserShow.tsx
  packages/web/src/components/users/UsersList.tsx
Due: biome-check, typecheck

removed extra doc
  docs/ROLES_AND_FLOWS.md
Due: biome-check

added activate artist feature
  packages/api/src/controllers/adminArtistController.ts
  packages/api/src/repositories/artistRepository.ts
  packages/api/src/routes/v1/admin.ts
  packages/api/src/services/artistService.ts
  packages/web/src/components/pendingArtists/ActivateArtistButton.tsx
  packages/web/src/components/pendingArtists/PendingArtistEdit.tsx
  packages/web/src/lib/adminDataProvider.ts
  product/epics/admin-dashboard.md
  product/stories.md
  product/stories/view-edit-users.md
  product/stories/view-pending-artists.md
Due: biome-check, typecheck

added docs and updated stories/epics
  docs/troubleshooting/vercel-build-api-types.md
  product/stories.md
  product/stories/activate-artist-account.md
Due: biome-check

added ability to ban users
  packages/api/src/controllers/adminUserController.ts
  packages/api/src/middleware/auth.ts
  packages/api/src/repositories/userRepository.ts
  packages/api/src/routes/v1/admin.ts
  packages/api/src/routes/v1/auth.ts
  packages/api/src/services/authService.ts
  packages/api/src/services/userService.ts
  packages/database/migrations/0004_ban_user_account.sql
  packages/database/migrations/meta/_journal.json
  packages/database/src/schema/users.ts
  packages/web/src/components/users/UserShow.tsx
  packages/web/src/components/users/UsersList.tsx
  packages/web/src/lib/adminDataProvider.ts
Due: biome-check, typecheck

added ability to ban users
  packages/web/src/lib/adminDataProvider.ts
Due: biome-check, typecheck

added view bookings to admin app
  packages/api/package.json
  packages/api/src/controllers/adminBookingController.test.ts
  packages/api/src/controllers/adminBookingController.ts
  packages/api/src/repositories/adminBookingRepository.ts
  packages/api/src/routes/v1/admin.ts
  packages/api/src/services/adminBookingService.ts
  packages/shared/src/bookings.ts
  packages/web/src/components/AdminApp.tsx
  packages/web/src/components/bookings/BookingShow.tsx
  packages/web/src/components/bookings/BookingsList.tsx
  packages/web/src/lib/adminDataProvider.ts
  product/epics/foundation-setup.md
  product/stories/ban-user-account.md
Due: biome-check, typecheck

added view bookings to admin app
  packages/api/src/repositories/adminBookingRepository.ts
  packages/api/src/services/adminBookingService.ts
  packages/api/tsconfig.typecheck.json
Due: biome-check, typecheck

updated stories and epics
  product/stories.md
  product/stories/archive/activate-artist-account.md
  product/stories/archive/ban-user-account.md
  product/stories/archive/populate-artist-profile.md
  product/stories/archive/view-all-bookings.md
  product/stories/archive/view-edit-users.md
  product/stories/archive/view-pending-artists.md
Due: biome-check

Added signup ability for users and artists
  docs/auth/EMAIL_AUTH_SETUP.md
  packages/api/src/middleware/auth.ts
  packages/api/src/routes/v1/auth.ts
  packages/api/src/services/authService.ts
  packages/database/migrations/0005_make_phone_nullable.sql
  packages/database/src/schema/addresses.ts
  packages/database/src/schema/artistProfiles.ts
  packages/database/src/schema/auditLogs.ts
  packages/database/src/schema/bookings.ts
  packages/database/src/schema/conversations.ts
  packages/database/src/schema/customerProfiles.ts
  packages/database/src/schema/messages.ts
  packages/database/src/schema/payments.ts
  packages/database/src/schema/reviews.ts
  packages/database/src/schema/userRoles.ts
  packages/database/src/schema/users.ts
  packages/mobile/src/api/client.ts
  packages/mobile/src/navigation/AppNavigator.tsx
  packages/mobile/src/screens/ArtistSignupScreen.tsx
  packages/mobile/src/screens/LoginScreen.tsx
  packages/mobile/src/screens/SignupScreen.tsx
  packages/mobile/src/store/authStore.ts
Due: biome-check, typecheck

Added signup ability for users and artists
  packages/api/src/repositories/userRepository.ts
  packages/mobile/src/api/client.ts
  packages/mobile/src/store/authStore.ts
Due: biome-check, typecheck
