Repository CommandLineDesign/524: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Install with: pnpm lefthook install

pre-commit:
  parallel: true
  commands:
    biome-check:
      run: pnpm exec biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      glob: "*.{ts,tsx,js,jsx,json,md}"
      exclude: |
        (?x)^(
          .*\.lock$|
          .*\.log$|
          .*node_modules.*|
          .*dist.*|
          .*build.*|
          .*\.next.*|
          .*\.expo.*|
          .*\.turbo.*|
          .*migrations.*|
          .*meta.*
        )
    typecheck:
      run: pnpm typecheck
      glob: "*.{ts,tsx}"
      exclude: |
        (?x)^(
          .*node_modules.*|
          .*dist.*|
          .*build.*|
          .*\.next.*|
          .*\.expo.*|
          .*\.turbo.*|
          .*migrations.*|
          .*meta.*
        )

pre-push:
  parallel: true
  commands:
    lint:
      run: pnpm lint
    format-check:
      run: pnpm format:check
    typecheck:
      run: pnpm typecheck

chore: mark View Artist Reviews story as completed
  product/stories.md
  product/stories/view-artist-reviews.md
Due: biome-check

added view artist reviews
  packages/api/src/controllers/reviewController.ts
  packages/api/src/repositories/reviewRepository.ts
  packages/api/src/routes/v1/review.ts
  packages/api/src/services/reviewService.ts
  packages/mobile/src/components/reviews/ReviewCard.tsx
  packages/mobile/src/query/reviews.ts
  packages/mobile/src/screens/ArtistReviewsScreen.tsx
  packages/mobile/src/utils/starUtils.ts
  product/stories/implement-caching-for-artist-review-statistics.md
  review/reviews/bug-analysis-1.md
Due: biome-check, typecheck

chore: mark Mark Booking Complete story as completed
  product/stories/mark-booking-complete.md
Due: biome-check

chore: archive completed review system stories
  product/stories/archive/add-offline-review-submission-support.md
  product/stories/archive/mark-booking-complete.md
  product/stories/archive/refactor-review-image-public-url-computation.md
  product/stories/archive/upload-review-photos.md
  product/stories/archive/view-artist-reviews.md
  product/stories/archive/view-customer-review-history.md
Due: biome-check

feat: add 📋 Backlog status for stories and epics
  ai/formats/epic-format.md
  ai/formats/story-format.md
  ai/workflows/create-story.md
  ai/workflows/epic-based-agent-story-execution.md
  ai/workflows/improved-local-agent-story-execution.md
  ai/workflows/local-agent-story-execution.md
  ai/workflows/update-epic.md
Due: biome-check

example: demonstrate 📋 Backlog status usage
  product/stories/add-accessibility-support-to-my-reviews-screen.md
Due: biome-check

refactor: move enhancement stories to backlog folder
  product/stories/backlog/add-accessibility-support-to-my-reviews-screen.md
  product/stories/backlog/add-internationalization-support-for-review-submission-messages.md
  product/stories/backlog/add-real-time-review-validation.md
  product/stories/backlog/add-review-detail-screen-with-edit-delete-actions.md
  product/stories/backlog/add-review-form-accessibility.md
  product/stories/backlog/add-review-notification-failure-metrics.md
  product/stories/backlog/implement-caching-for-artist-review-statistics.md
  product/stories/backlog/make-reviews-hook-more-flexible-for-different-roles.md
  product/stories/backlog/respond-to-review.md
  product/stories/backlog/standardize-booking-completion-timestamps.md
Due: biome-check

refactor: organize review stories into backlog
  product/stories/backlog/add-comprehensive-test-coverage-for-messaging-functionality.md
  product/stories/backlog/add-database-index-for-message-read-status-queries.md
  product/stories/backlog/add-loading-states-and-error-boundaries-for-chat-list.md
  product/stories/backlog/add-loading-states-to-booking-completion-action.md
  product/stories/backlog/adjust-artist-booking-list-default-filter.md
  product/stories/backlog/evaluate-api-client-wrapper-complexity.md
  product/stories/backlog/evaluate-websocket-cleanup-strategy.md
  product/stories/backlog/implement-sliding-window-rate-limiting-for-websocket.md
  product/stories/backlog/simplify-websocket-cleanup-scheduler-logic.md
  product/stories/backlog/test-coverage-for-artist-booking-flows.md
  product/stories/backlog/tune-messaging-retry-logic-parameters.md
Due: biome-check

fix: update submit-customer-review story status to In Progress
  product/stories/submit-customer-review.md
Due: biome-check

feat: complete submit-customer-review story for MVP
  product/stories/archive/submit-customer-review.md
  product/stories/release-payment-holds-on-booking-declines.md
Due: biome-check

feat: update review-system epic to reflect completed MVP functionality
  product/epics/review-system.md
Due: biome-check

updated stories and epics
  lefthook.yml
  review/reviews/bug-analysis-1.md
  review/stories/release-payment-holds-on-booking-declines.md
Due: biome-check

chore: mark Display Reviews on Artist Profile as In Progress
  product/stories.md
  product/stories/display-reviews-on-profile.md
Due: biome-check

feat: add public API endpoints for artist reviews
  packages/api/src/controllers/artistController.ts
  packages/api/src/routes/v1/artist.ts
Due: biome-check, typecheck

chore: auto-fix formatting
  ai/workflows/epic-based-agent-story-execution.md
  ai/workflows/improved-local-agent-story-execution.md
Due: biome-check

feat: add mobile API client and hooks for artist profile reviews
  packages/mobile/src/api/client.ts
  packages/mobile/src/query/reviews.ts
Due: biome-check, typecheck

feat: add artist profile screen with review display
  packages/mobile/src/navigation/AppNavigator.tsx
  packages/mobile/src/screens/ArtistProfileScreen.tsx
Due: biome-check, typecheck

chore: mark Display Reviews on Artist Profile as Completed
  product/stories.md
  product/stories/display-reviews-on-profile.md
Due: biome-check

code review
  ai/workflows/epic-based-agent-story-execution.md
  ai/workflows/improved-local-agent-story-execution.md
  packages/api/src/controllers/artistController.ts
  packages/api/src/routes/v1/artist.ts
  packages/api/src/services/reviewService.ts
  packages/mobile/src/api/client.ts
  packages/mobile/src/navigation/AppNavigator.tsx
  packages/mobile/src/screens/ArtistProfileScreen.tsx
Due: biome-check, typecheck

code review and bugs
  packages/api/src/controllers/artistController.ts
  packages/api/src/repositories/reviewRepository.ts
  packages/api/src/routes/v1/artist.ts
  packages/mobile/src/api/client.ts
  packages/mobile/src/query/reviews.ts
  packages/mobile/src/screens/ArtistProfileScreen.tsx
  review/reviews/bug-analysis-1.md
Due: biome-check, typecheck

build new login page, code review items
  .cursor/mcp.json
  ai/context/README.md
  ai/workflows/figma-to-react-native-implementation.md
  docs/frontend/README.md
  docs/frontend/component-checklist.md
  docs/frontend/figma-implementation-guide.md
  docs/frontend/frontend-quick-reference.md
  docs/frontend/frontend-standards.md
  packages/mobile/LOGIN_IMPLEMENTATION.md
  packages/mobile/src/assets/icons/kakao-logo.png
  packages/mobile/src/assets/icons/naver-logo.png
  packages/mobile/src/components/onboarding/MultiSelectButtons.tsx
  packages/mobile/src/components/onboarding/OnboardingLayout.tsx
  packages/mobile/src/components/onboarding/SelectableCard.tsx
  packages/mobile/src/components/signup/FormField.tsx
  packages/mobile/src/components/signup/SignupForm.tsx
  packages/mobile/src/config/environment.ts
  packages/mobile/src/screens/ArtistOnboardingFlowScreen.tsx
  packages/mobile/src/screens/ArtistPendingScreen.tsx
  packages/mobile/src/screens/DevLoginScreen.tsx
  packages/mobile/src/screens/LoginScreen.tsx
  packages/mobile/src/screens/NewLoginScreen.tsx
  packages/mobile/src/screens/OnboardingFlowScreen.tsx
  packages/mobile/src/services/snsAuth.ts
  packages/mobile/src/theme/borderRadius.ts
  packages/mobile/src/theme/colors.ts
  packages/mobile/src/theme/index.ts
  packages/mobile/src/theme/shadows.ts
  packages/mobile/src/theme/spacing.ts
  packages/mobile/src/theme/typography.ts
  product/stories/add-password-visibility-toggle-login-screen.md
  product/stories/add-unit-tests-login-screen-router.md
  review/reviews/bug-analysis-1.md
Due: biome-check, typecheck

bug analysis processed
  packages/mobile/src/config/environment.ts
  packages/mobile/src/screens/DevLoginScreen.tsx
  packages/mobile/src/screens/LoginScreen.tsx
  packages/mobile/src/store/authStore.ts
  product/stories/add-sns-login-loading-states.md
  product/stories/implement-naver-kakao-oauth-flows.md
  review/reviews/bug-analysis-1.md
Due: biome-check, typecheck

fix: prevent next-env.d.ts from being constantly modified
  .gitignore
  lefthook.yml
Due: none

remove: next-env.d.ts from git tracking
  packages/web/next-env.d.ts
Due: biome-check, typecheck

fix: properly handle next-env.d.ts without formatting conflicts
  packages/web/next-env.d.ts
Due: biome-check, typecheck

chore: update ignore configs for next-env.d.ts
  .gitignore
  biome.json
Due: biome-check

feat: signup improvements with form enhancements and theme updates
  check-artist.js
  check-bookings.js
  check-user-bookings.js
  docs/frontend/component-checklist.md
  generate-token.js
  get-artist-email.js
  packages/api/check-user-bookings.js
  packages/api/get-artist-email.js
  packages/api/src/routes/v1/auth.ts
  packages/api/src/services/authService.ts
  packages/mobile/LOGIN_IMPLEMENTATION.md
  packages/mobile/src/api/client.ts
  packages/mobile/src/components/signup/FormField.tsx
  packages/mobile/src/components/signup/FormRow.tsx
  packages/mobile/src/components/signup/index.ts
  packages/mobile/src/components/signup/validation.ts
  packages/mobile/src/global.d.ts
  packages/mobile/src/navigation/AppNavigator.tsx
  packages/mobile/src/screens/DevLoginScreen.tsx
  packages/mobile/src/screens/NewLoginScreen.tsx
  packages/mobile/src/screens/SignupScreen.tsx
  packages/mobile/src/store/authStore.ts
  packages/mobile/src/theme/colors.ts
  packages/mobile/src/theme/spacing.ts
  packages/web/next-env.d.ts
  product/stories/implement-account-recovery-flows.md
  review/reviews/bug-analysis-1.md
  review/reviews/code-review-1.md
  review/stories/implement-sns-authentication.md
  scripts/README.md
  tmp-push-schema.sh
  tmp-test.js
  verify-admin.js
Due: biome-check, typecheck

removed review files
  review/reviews/bug-analysis-1.md
  review/reviews/code-review-1.md
Due: biome-check

updated theme issue
  packages/mobile/src/components/onboarding/MultiSelectButtons.tsx
  packages/mobile/src/components/onboarding/OnboardingLayout.tsx
  packages/mobile/src/components/onboarding/SelectableCard.tsx
  packages/mobile/src/components/signup/FormField.tsx
  packages/mobile/src/components/signup/FormRow.tsx
  packages/mobile/src/components/signup/SignupForm.tsx
  packages/mobile/src/config/environment.ts
  packages/mobile/src/screens/ArtistOnboardingFlowScreen.tsx
  packages/mobile/src/screens/ArtistPendingScreen.tsx
  packages/mobile/src/screens/DevLoginScreen.tsx
  packages/mobile/src/screens/LoginScreen.tsx
  packages/mobile/src/screens/NewLoginScreen.tsx
  packages/mobile/src/screens/OnboardingFlowScreen.tsx
  packages/mobile/src/screens/SignupScreen.tsx
  packages/mobile/src/services/snsAuth.ts
  packages/mobile/src/theme/borderRadius.ts
  packages/mobile/src/theme/index.ts
  packages/mobile/src/theme/typography.ts
  packages/mobile/src/utils/imageCompression.ts
  packages/web/next-env.d.ts
Due: biome-check, typecheck

fix type issues and disable noExplicitAny linting for mobile package
  packages/mobile/src/screens/ChatScreen.tsx
  packages/mobile/src/screens/NewLoginScreen.tsx
  packages/mobile/src/screens/OnboardingFlowScreen.tsx
  packages/mobile/src/theme/index.ts
  packages/mobile/src/utils/imageCompression.ts
Due: biome-check, typecheck

update biome config and web types
  biome.json
Due: biome-check

fix remaining type errors with proper type assertions
  packages/mobile/src/screens/ChatScreen.tsx
  packages/mobile/src/screens/NewLoginScreen.tsx
  packages/mobile/src/utils/imageCompression.ts
Due: biome-check, typecheck

chore: ignore temporary account checking scripts
  .gitignore
Due: none
