Repository CommandLineDesign/524: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

biome-check:
  run: pnpm exec biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm typecheck

fixed build error
  packages/mobile/src/screens/NewLoginScreen.tsx
Due: biome-check, typecheck

solved lint errors
  packages/mobile/src/screens/NewLoginScreen.tsx
Due: biome-check, typecheck

removed biome ignores
  packages/mobile/src/contexts/SocketContext.tsx
  packages/mobile/src/query/messaging.ts
  packages/mobile/src/screens/ChatScreen.tsx
Due: biome-check, typecheck

typecheck fix
  packages/mobile/src/screens/ChatScreen.tsx
Due: biome-check, typecheck

fix: remove missing SNS logo asset requires that break Metro bundler
  packages/mobile/src/screens/NewLoginScreen.tsx
Due: biome-check, typecheck

fix: resolve type errors and remove unused biome-ignore comments
  packages/mobile/src/components/signup/FormField.tsx
  packages/mobile/src/contexts/SocketContext.tsx
  packages/mobile/src/query/messaging.ts
  packages/mobile/src/screens/ChatScreen.tsx
  packages/mobile/src/store/authStore.ts
  packages/mobile/src/theme/colors.ts
  packages/mobile/src/theme/spacing.ts
Due: biome-check, typecheck

added new homescreen
  packages/mobile/src/components/NavigationMenu.tsx
  packages/mobile/src/components/common/Carousel.tsx
  packages/mobile/src/components/common/NotificationBanner.tsx
  packages/mobile/src/constants/homeStrings.ts
  packages/mobile/src/navigation/AppNavigator.tsx
  packages/mobile/src/screens/ArtistSignupScreen.tsx
  packages/mobile/src/screens/HomeScreen.tsx
  packages/mobile/src/screens/OnboardingFlowScreen.tsx
  packages/mobile/src/screens/OnboardingServicesScreen.tsx
  packages/mobile/src/screens/ReviewConfirmationScreen.tsx
  packages/mobile/src/screens/ServiceSelectionScreen.tsx
  packages/mobile/src/screens/SignupConfirmationScreen.tsx
  packages/mobile/src/screens/SignupScreen.tsx
  packages/mobile/src/screens/WelcomeScreen.tsx
  packages/mobile/src/theme/colors.ts
  packages/mobile/src/theme/typography.ts
  product/epics/foundation-setup.md
  product/stories.md
  product/stories/navigation-reconsideration.md
  review/reviews/bug-analysis-1.md
Due: biome-check, typecheck

fixed pre push checks
  packages/mobile/src/screens/OnboardingFlowScreen.tsx
  packages/mobile/src/screens/booking/artist/ArtistDetailScreen.tsx
  packages/mobile/src/store/bookingFlowStore.ts
  packages/shared/src/onboarding.ts
  packages/web/next-env.d.ts
Due: biome-check, typecheck

updated frontend docs
  docs/frontend/UNIFIED_FORM_STYLING_IMPLEMENTATION.md
  docs/frontend/component-library.md
Due: biome-check

fix: resolve typecheck and build issues for refresh token implementation
  packages/api/src/controllers/adminReviewController.ts
  packages/api/src/repositories/adminReviewRepository.ts
  packages/api/src/repositories/reviewRepository.ts
  packages/api/src/routes/v1/auth.ts
  packages/api/src/services/authService.ts
  packages/database/src/migrate.ts
  packages/web/next-env.d.ts
  packages/web/src/components/artists/ArtistShow.tsx
Due: biome-check, typecheck

fix: cleanup and fixes for refresh token implementation
  packages/api/src/db/client.ts
  packages/api/src/repositories/artistRepository.ts
  packages/api/src/repositories/reviewRepository.ts
  packages/api/src/services/artistService.ts
  packages/api/src/services/searchService.ts
  packages/api/src/types/shared-modules.d.ts
  packages/api/tsconfig.json
  packages/database/src/schema/reviews.ts
  packages/shared/src/admin.js
  packages/shared/src/artists.d.ts
  packages/shared/src/artists.d.ts.map
  packages/shared/src/artists.js
  packages/shared/src/artists.js.map
  packages/shared/src/auth.d.ts
  packages/shared/src/auth.d.ts.map
  packages/shared/src/auth.js
  packages/shared/src/auth.js.map
  packages/shared/src/bookings.d.ts
  packages/shared/src/bookings.d.ts.map
  packages/shared/src/bookings.js
  packages/shared/src/bookings.js.map
  packages/shared/src/constants.d.ts
  packages/shared/src/constants.d.ts.map
  packages/shared/src/constants.js
  packages/shared/src/constants.js.map
  packages/shared/src/dev.js
  packages/shared/src/i18n.js
  packages/shared/src/index.ts
  packages/shared/src/messaging.d.ts
  packages/shared/src/messaging.d.ts.map
  packages/shared/src/messaging.js
  packages/shared/src/messaging.js.map
  packages/shared/src/onboarding.js
  packages/shared/src/onboardingConfig.js
  packages/shared/src/payments.d.ts
  packages/shared/src/payments.d.ts.map
  packages/shared/src/payments.js
  packages/shared/src/payments.js.map
Due: biome-check, typecheck

fix: resolve TypeScript type errors in review repositories
  packages/api/src/repositories/adminReviewRepository.ts
  packages/api/src/repositories/reviewRepository.ts
Due: biome-check, typecheck

fix: reorder build and typecheck steps in CI and hooks
  ai/workflows/commit-and-push.md
  lefthook.yml
  scripts/ci-quality-check.sh
Due: biome-check

fix: remove .js extensions from shared package imports to resolve Metro bundler resolution errors
  packages/shared/src/admin.ts
  packages/shared/src/artists.ts
  packages/shared/src/auth.ts
  packages/shared/src/booking-status-transitions.ts
  packages/shared/src/bookings.ts
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/onboarding.ts
  packages/shared/src/onboardingConfig.ts
Due: biome-check, typecheck

fix: resolve refresh token implementation issues and improve error handling
  docs/auth/EMAIL_AUTH_SETUP.md
  lefthook.yml
  packages/api/src/repositories/artistRepository.ts
  packages/api/src/repositories/reviewRepository.ts
  packages/api/src/services/artistService.ts
  packages/database/migrations/0014_add_refresh_tokens.sql
  packages/mobile/src/api/client.ts
  packages/web/src/lib/adminDataProvider.ts
  packages/web/tsconfig.json
Due: biome-check, typecheck

feat: add cross-package type validation step to commit workflow
  ai/workflows/commit-and-push.md
Due: biome-check

feat: add updateArtistProfileById method and update web tsconfig paths
  packages/api/src/controllers/adminArtistController.ts
  packages/api/src/services/artistService.ts
  packages/web/tsconfig.json
Due: biome-check, typecheck

fixed admin pagination
  packages/api/src/controllers/adminReviewController.ts
Due: biome-check, typecheck

feat: enhance artist onboarding with debounced validation and storage abstraction
  docs/frontend/component-library.md
  packages/mobile/jest.config.js
  packages/mobile/jest.setup.js
  packages/mobile/src/components/onboarding/MultiSelectButtons.tsx
  packages/mobile/src/components/onboarding/OnboardingLayout.tsx
  packages/mobile/src/components/onboarding/SelectableCard.tsx
  packages/mobile/src/components/signup/validation.ts
  packages/mobile/src/hooks/useDebounce.test.ts
  packages/mobile/src/hooks/useDebounce.ts
  packages/mobile/src/screens/ArtistOnboardingFlowScreen.tsx
  packages/mobile/src/screens/ArtistSignupScreen.tsx
  packages/mobile/src/screens/NewLoginScreen.tsx
  packages/mobile/src/services/storage/NativeStorageProvider.ts
  packages/mobile/src/services/storage/StorageProvider.test.ts
  packages/mobile/src/services/storage/StorageProvider.ts
  packages/mobile/src/services/storage/WebStorageProvider.ts
  packages/mobile/src/services/storage/index.ts
  packages/mobile/src/services/tokenService.test.ts
  packages/mobile/src/services/tokenService.ts
  review/reviews/bug-analysis-1.md
  review/stories/debounced-email-availability-check.md
  review/stories/extract-storage-provider-interface.md
Due: biome-check, typecheck

typecheck fix
  packages/api/package.json
  packages/api/src/services/geocodeService.ts
Due: biome-check, typecheck

fix: update pnpm lockfile to include axios dependency
  pnpm-lock.yaml
Due: none

pushing changes
  packages/mobile/src/components/location/InteractiveKakaoMap.tsx
Due: biome-check, typecheck

fix typecheck issue
  packages/api/src/routes/v1/geocode.ts
Due: biome-check, typecheck

fix: add firebase-admin dependency and fix type errors in api package
  ai/workflows/commit-and-push.md
  packages/api/package.json
  packages/api/src/services/pushNotificationService.ts
  pnpm-lock.yaml
Due: biome-check, typecheck

refactor: migrate push notifications from Firebase to Expo Push
  packages/api/package.json
  packages/api/src/services/notificationService.ts
  packages/api/src/services/pushNotificationService.test.ts
  packages/api/src/services/pushNotificationService.ts
  packages/mobile/src/services/pushNotificationService.ts
  packages/notifications/package.json
  packages/notifications/src/index.ts
  pnpm-lock.yaml
Due: biome-check, typecheck

feat: add device token cleanup service and enhance push notification system
  packages/api/src/repositories/deviceTokenRepository.ts
  packages/api/src/services/deviceTokenCleanupService.ts
  packages/api/src/services/pushNotificationService.test.ts
  packages/api/src/services/pushNotificationService.ts
  packages/mobile/src/hooks/usePushNotifications.ts
  packages/mobile/src/services/pushNotificationService.ts
  packages/notifications/src/index.ts
Due: biome-check, typecheck

feat: implement notification system frontend
  docs/messaging/README.md
  packages/api/src/controllers/notificationController.test.ts
  packages/api/src/controllers/notificationController.ts
  packages/api/src/repositories/notificationPreferenceRepository.test.ts
  packages/api/src/repositories/notificationPreferenceRepository.ts
  packages/api/src/repositories/notificationRepository.test.ts
  packages/api/src/repositories/notificationRepository.ts
  packages/api/src/routes/v1/index.ts
  packages/api/src/routes/v1/notifications.ts
  packages/api/src/services/notificationPreferenceService.test.ts
  packages/api/src/services/notificationPreferenceService.ts
  packages/api/src/services/notificationService.test.ts
  packages/api/src/services/notificationService.ts
  packages/api/src/test/fixtures.ts
  packages/database/migrations/0019_wet_boom_boom.sql
  packages/database/migrations/meta/0019_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/index.ts
  packages/database/src/schema/notificationPreferences.ts
  packages/database/src/schema/notifications.ts
  packages/mobile/app.json
  packages/mobile/src/api/client.ts
  packages/mobile/src/hooks/useNotifications.ts
  packages/mobile/src/hooks/usePushNotifications.ts
  packages/mobile/src/navigation/AppNavigator.tsx
  packages/mobile/src/screens/HomeScreen.tsx
  packages/mobile/src/screens/NotificationInboxScreen.tsx
  packages/mobile/src/theme/colors.ts
  product/stories/notification-system/setup-push-notifications.md
  product/stories/notification-system/view-in-app-notification-inbox.md
Due: biome-check, typecheck

fix: convert babel.config.js to CommonJS syntax
  packages/web/babel.config.js
Due: biome-check

fix: rename babel.config.js to babel.config.cjs to resolve ES module conflict
  packages/web/babel.config.cjs
Due: none

fix: remove babel.config.cjs as Next.js handles babel configuration internally
  packages/web/babel.config.cjs
Due: none

fix: resolve Express type error in Vercel API handler
  packages/api/api/index.ts
  packages/mobile/src/screens/ArtistBookingsListScreen.tsx
  packages/web/next-env.d.ts
Due: biome-check, typecheck

fix: include api/ folder in TypeScript typecheck and improve handler types
  packages/api/api/index.ts
  packages/api/tsconfig.typecheck.json
  packages/web/next-env.d.ts
Due: biome-check, typecheck

fix: correct Express app invocation in Vercel handler
  packages/api/api/index.ts
Due: biome-check, typecheck

fix: replace any type with proper RequestHandler type assertion
  packages/api/api/index.ts
Due: biome-check, typecheck

fix: use proper function type for Express app invocation
  packages/api/api/index.ts
Due: biome-check, typecheck

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json,md}, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*node_modules.*|
  .*dist.*|
  .*build.*|
  .*\.next.*|
  .*\.expo.*|
  .*\.turbo.*|
  .*migrations.*|
  .*meta.*
)

  typecheck: any of: *.{ts,tsx}, but not: (?x)^(
  .*node_modules.*|
  .*dist.*|
  .*build.*|
  .*\.next.*|
  .*\.expo.*|
  .*\.turbo.*|
  .*migrations.*|
  .*meta.*
)

